@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    background-color: blue;
}
.capa{
    width: 65%;
}
.beneficios {
    text-align: left;
    background-color: blue;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
}
li{
padding: 25px;
font-size: 20px;
}

.foto-beneficios {
width:40% ;
}